* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
.navbar {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  position: fixed;
  margin-bottom: 20px;
  width: 100%;
 
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.links ul {
  display: flex;
  list-style: none;
}
.links li {
  margin: 0 1rem;
}
.links a {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.links a:hover {
  text-decoration: underline;
}
.hero{
    height: 90vh;
    
}
.left{
    width: 50%;
   
}
.right{
    width: 50%;
}
.left div h1{
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 10px 70px;
    padding-top: 80px;
    width: 90%;
}
.left div p{
    font-size: 1.4rem;
    margin: 13px 70px;
    width: 90%;
    color: #353535e0;

}
.hero{
    width: 100%;
    height: 80vh;
    background-color: #e4fbec;
}
.content{
    width: 100%;
    display: flex;
}
.right img{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    margin: 80px 50px;
}
.btn{
    margin: 30px 70px;
    width: 180px;
    height: 45px;
    font-weight: bold;
    background-color: #4CAF50;
    border: 1px solid #00ff08;
  
    color: white;
   
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 12px 16px;
}
.about h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 20px 70px;
    text-align: center;
}
.about p{
    font-size: 1.2rem;
    padding: 2px 150px;
    color: #353535e0;
    text-align: center;
}
.introduction {
    display: flex;
    margin: 20px;
    padding: 20px 70px;
}
.introduction .left img {
    width: 80%;
    border-radius: 10px;
    margin: 80px 30px;
}
/* .description {
    font-size: 1.2rem;
    color: #353535e0;
    padding: 2px;
  
} */
 .introduction p{
       font-size: 1.2rem;
    color: #353535e0;
    padding: 1px;
    width: 80%;
    margin: 15px 0px;
    text-align: start;
 }
 .introduction h2{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 50px ;
  
 }
.products{
    background-color: rgba(245, 245, 245, 0.882);
    padding-top: 40px;
    height: 90vh;
}
.products h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 20px 70px;
    text-align: center;
}
.products p{
    font-size: 1.2rem;
    color: #353535e0;
    padding: 10px 250px;
    margin: 15px 0px;
    text-align: center;
}
.card {
    background-color: white;
    width: 25%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2px;
}
.card img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card h2 {
    font-size: 1.5rem;
    margin: 10px;
    text-align: start;
}
.card p {
    font-size: 1rem;
   padding: 10px;
    text-align: start;
    margin-bottom: 10px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.testimonials {
    background-color: #17A34A;
    padding: 40px 0;
}
.testimonials h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 20px 70px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.testimonials p {
    font-size: 1.2rem;
    color: rgb(218, 213, 213);
    padding: 10px 250px;
    margin: 15px 0px;
    text-align: center;
}
.key p{
    font-size: 1rem;
    padding: 10px 40px;
    color: rgb(234, 230, 230);
}
.key h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
    color: rgb(255, 255, 255);
}
.benifits{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}
.contact-us{
    display: flex;
}
.info{
    display: flex;
    margin: 40px 20px;
}
.info div h3{
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 70px;
   margin: 5px 0;
    text-align: start;
}
.info div p{
    font-size: 0.8rem;
    color: #353535e0;
    padding: 10px 40px;
    margin: 5px 0;
    padding: 0px 0px;
    width: 100%;
}
.info svg{
   padding: 0;
    width: 30px;
    height: 30px;
}
.svg{
    background-color:  #e4fbec;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 6px;
    margin:  5px 7px;
}
/* .contact-us .left h1,p {
    margin: 20px 30px;
    width: 80%;
} */
 .form{
    margin: 20px 30px;
    width: 80%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 7px;
 }
 input,textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
 }
 .form label{
    font-weight: bold;
 }
 .submit{
    width: 50%;
    height: 45px;
    font-weight: bold;
    background-color: #4CAF50;
    border: 1px solid #00ff08;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    padding: 12px 16px;
 }

 footer {
    background-color: #11123f;
    color: white;
    height: 100vh;
    text-align: center;
    padding: 12px 0;
}







 @media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
.navbar{
    margin-bottom: 20px;
}

    .left, .right {
        width: 100%;
        text-align: center;
    }

    .left div h1 {
        font-size: 2.5rem;
        margin: 50px 20px;
        padding-top: 40px;
    }

    .left div p {
        font-size: 1rem;
        margin: 0 20px;
        text-align: center;
    }
    .info div p{
       margin: 0;
    }
    .svg{
margin-right: 20px;
    }

    .right img {
        margin: 20px 0;
    }

    .btn {
        margin: 20px auto;
    }
.about{
    margin: 50px 0;
}
    .about h1 {
        font-size: 2rem;
    }

    .about p {
        padding: 2px 20px;
    }

    .introduction {
        flex-direction: column;
        padding: 20px;
    }

    .introduction .left img {
        width: 100%;
        margin: 20px 0;
    }

    .introduction .right {
        width: 100%;
        text-align: center;
    }

     .introduction p {
        width: 100%;
        text-align: center;
     }

     .introduction h2 {
        margin-top: 0;
     }

    .products {
        height: auto;
        padding-top: 20px;
    }

    .products h1 {
        font-size: 2rem;
    }

    .products p {
        padding: 10px 20px;
    }

    .items {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin: 20px 0;
    }

    .testimonials h1 {
        font-size: 2rem;
    }

    .testimonials p {
        padding: 10px 20px;
    }

    .benifits {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .key {
        margin: 20px 0;
    }

    .contact-us {
        flex-direction: column;
        align-items: center;
    }

    .contact-us .left,
    .contact-us .right {
        width: 100%;
        text-align: center;
    }

    .form {
        width: 100%;
        margin: 20px 0;
        text-align: start;
    }
   

    .links {
    
        width: 100%;
        text-align: center;
    }

    .links ul {
        flex-direction: row;
        margin: 5px;
    }

    .links li {
        margin: 5px 15px;
    }

    .nav-items {
        flex-wrap: wrap;
    }
 }




 